:root{
  --prueba: color:#000; ; 
}


@font-face {
	font-family: 'freeline';
	src: url(assets/fonts/FreeLine.ttf) format(TrueType);
}

@font-face {
	font-family: 'poppins';
	src: url(assets/fonts/Poppins-Bold.ttf) format(TrueType);
	src: url(assets/fonts/Poppins-Light.ttf) format(TrueType);
	src: url(assets/fonts/Poppins-Regular.ttf) format(TrueType);
	src: url(assets/fonts/Poppins-Medium.ttf) format(TrueType);
	src: url(assets/fonts/Poppins-SemiBold.ttf) format(TrueType);
}

@font-face {
	font-family: 'lexend deca';
	src: url(assets/fonts/LexendDeca-VariableFont_wght.ttf) format(TrueType);
}

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
  background-color: #2E475D;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
  margin: 0;
  padding-left:0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.title-main{
  display:flex; 
  text-align: center;
  justify-content: center;
  font-family: 'lexend deca';
  font-style: italic;
  color: #fff;
  /* font-weight: 700; */
  padding: 2rem .5rem;
}

.writing{
  display: inline-block; 
  white-space: nowrap;
  width:3ch;
  border-right:1px solid;

    animation: 
    typing 5s infinite steps(7) alternate,
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.container-projects{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-auto-rows: 18.75rem;
  row-gap: 4rem;
} 

.card{
  --size: 18.75rem;
  width: var(--size);
  height: var(--size);
}

.icons-tecnologias{
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
}

.card__button{
  padding-top: .5rem;
}

.slider-certificados{
  margin-top: 8rem;
}

.about-me{
  padding:0 .8rem;
  margin-top: 4rem;
}


/* ==Animaciones== */

@keyframes typing {
  from{
      width: 0;
  }
}

@keyframes blink {
  50%{
      border-color: transparent;
  }
  
}

/* ==Medias querys== */
@media screen and (min-width: 1400px){
  .container-projects{
    gap: 5rem 1rem;
  }

}


